html, body {
  background-color: blanchedalmond;
  height: 100%;
  margin: 0; 
  padding: 0;
}

.container {  
  height: 99%; 
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.2fr 1.2fr 0.5fr 0.7fr 1fr;
  grid-template-rows: 1.2fr 1.2fr 1.2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Level3Zone Level3Zone Level3Zone Level3Zone Resources NobleZone NobleZone"
    "Level2Zone Level2Zone Level2Zone Level2Zone Resources OtherPlayers OtherPlayers"
    "Level1Zone Level1Zone Level1Zone Level1Zone Resources CurrentPlayer CurrentPlayer"
    "LogBox LogBox LogBox LogBox LogBox CurrentPlayer CurrentPlayer";
}
.disabled {
  opacity: 0.5; /* Example style to indicate disabled state */
  pointer-events: none; /* Prevents mouse interaction */
  /* Add more styles as needed */
}
/* ---------------card zones and child objects---------------------- */
#Level3Zone {
  grid-area: Level3Zone;
  display: flex;
  margin: .5% 0 0 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#Level2Zone { 
  grid-area: Level2Zone; 
  display: flex;
  margin: .5% 0 0 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#Level1Zone { 
  grid-area: Level1Zone; 
  display: flex; 
  margin: 5px 0 5px 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.cardContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  height: 100%;
  border: 2px solid whitesmoke;
  border-radius: 30px;
  justify-content: space-between;
}
.victorypointValue{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.colorW .victorypointValue {
  color: black;
}

.costElement{
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0px 0px 8px 8px;
}
.costOfCard{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
}

/* -----------------Resource Tokens---------------------------------- */
.Resources {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: Resources;
  justify-items: center;
  align-content: center;
}

.Resources div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  position: relative;
  margin: 2% 2% 2% 2%;
}

.Resources div > div {
  color: white;
  text-align: center;
  border: .1rem solid white;
  border-radius: 50%;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#resourceG { 
  grid-area: 1 / 1 / 2 / 2;
}
#ResourceG div{
  color: whitesmoke;
  background:green
}

#ResourceR { grid-area: 3 / 1 / 4 / 2; }
#ResourceR div{
  color: whitesmoke;
  background:red
}

#ResourceU { grid-area: 2 / 1 / 3 / 2; }
#ResourceU div{
  color: whitesmoke;
  background:blue
}

#ResourceB { grid-area: 4 / 1 / 5 / 2; }
#ResourceB div{
  color: whitesmoke;
  background:black
}

#ResourceY { grid-area: 6 / 1 / 7 / 2; }
#ResourceY div{
  color: black;
  background: gold;
  color: black !important;
  border: 1px solid black  !important;
}

#ResourceW { grid-area: 5 / 1 / 6 / 2; }
#ResourceW div{
  color: black;
  background: whitesmoke;
  color: black !important;
  border: 1px solid black  !important;
}

/* ----------------Noble Card area-------------------------------------------- */
#NobleZone {
  grid-area: NobleZone;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.nobleCardContainer{
  display: flex;
  width: 40%;
  height: 25%;
  border: .1rem solid whitesmoke;
  padding: 2% 2% 2% 2%;
  justify-content: space-evenly;
  align-items: center;
  background: saddlebrown;
}
.nobleRequire{
  height: 100%;
  width: 33%;
  border: 1px solid whitesmoke;
  margin: 0 2% 0 2%;
  text-align: center;
  color: white;
}

/* -------------------other player information---------------------------------- */
#OtherPlayers {
  grid-area: OtherPlayers;
  display: flex;
  border: 2px dotted darkmagenta;
  flex-direction: column-reverse;
}

#OtherPlayers div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: calc(95%); /* Adjust the max-width to fit within the parent container */
}

#OtherPlayers div > div > div {
  flex-basis: calc(15%);
  height: 1rem;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem; /* Adjust as needed */
  margin-bottom: 2px;
  font-size: .5rem;
  color: whitesmoke;
}

#OtherPlayers div > div > div:nth-last-child(n+7) {
  border-radius: 25%;
  font-size: .5rem;
  color: whitesmoke;
}

/* ----------- current player information ---------------------*/
#CurrentPlayer {  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: 1fr 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PlayerResources ReservedCards"
    "PlayerResources ReservedCards"
    "PlayerResources VParea";
  grid-area: CurrentPlayer;
}

.PlayerResources {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PlayerRG"
    "PlayerRU"
    "PlayerRR"
    "PlayerRB"
    "PlayerRW"
    "PlayerRY";
  grid-area: PlayerResources;
}
.PlayerResources div{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2% 2% 2% 2%;
}
.PlayerResources div div:last-child{
  color: white;
  text-align: center;
  border: .1rem solid white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.PlayerResources div div:first-child{
  color: white;
  text-align: center;
  border: .1rem solid white;
  border-radius: 10%;
  width: 70%;
  height: 75%;
}

.PlayerRY { grid-area: PlayerRY; display: flex;}

.PlayerRW { grid-area: PlayerRW; display: flex;}

.PlayerRB { grid-area: PlayerRB; display: flex;}

.PlayerRR { grid-area: PlayerRR; display: flex;}

.PlayerRU { grid-area: PlayerRU; display: flex;}

.PlayerRG { grid-area: PlayerRG; display: flex;}

.ReservedCards { 
  grid-area: ReservedCards;
  border: 2px dotted darkred;
}

.VParea {
  grid-area: VParea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.VParea button {
  width: 80%;
  height: 2rem;
}

#LogBox { grid-area: LogBox;
  background: slategrey; 
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: auto; /* This will enable scrolling */
  border: 1px solid #ccc; /* Optional: Add border for better visibility */
}
#LogBox p {
  color: rgb(187, 201, 209);
  font-size: .7rem;
  margin: 2px 5px 1px 0;
  padding: 0 0 0 25%;
  border-bottom: 2px solid rgb(86, 103, 121);
}

/* Color pallets for demo */
.colorG{
  background: green;
}
.colorU{
  background: blue;
}
.colorR{
  background: red;
}
.colorB{
  background: black;
}
.colorW{
  background: whitesmoke;
  color: black !important;
  border: 1px solid black  !important;
}
.colorY{
  background: gold;
  color: black !important;
  border: 1px solid black  !important;
}
